sddc-deploy/VMware-ovftool-4.1.0-2459827-lin.x86_64.bundle
sddc-deploy/ovftool.tgz
shwrfr/keys/*
BITS/*
shwrfr/extra/post_slack.sh
shwrfr/govc_env
shwrfr/licenses.key
*.passwd
lock
extra/post_slack.sh
